* {
  font-family: 'Karla';
}
body {
  background: #f6f7fb;
}

.menu_phone_container {
  background: white;
}
.menu_phone_container::after {
  border: none;
  content: '';
  position: absolute;
  border-radius: 0.5rem;
  inset: 0;
  background: linear-gradient(45deg, #c85ed8, #a079f8);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  padding: 2px;
}

/* dashboard layout container */
.dashboard_layout_container_large_screen_open {
  width: calc(100% - 208px);
}
.dashboard_layout_container_large_screen_close {
  width: calc(100% - 65px);
}
.dashboard_layout_container_small_screen_open {
  width: calc(100% - 208px);
}
.dashboard_layout_container_small_screen_close {
  width: 100%;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Loader effect*/
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"🔴Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

